@import "vars.css";

/* >>>>>> GENERAL STYLE <<<<<< */
/* >>>>>> GENERAL STYLE <<<<<< */
/* >>>>>> GENERAL STYLE <<<<<< */

::selection {
    color: var(--main-color);
    background-color: var(--white-lt);
}
::-moz-selection {
    color: var(--main-color);
    background-color: var(--white-lt)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    background-color: var(--bg-color);
}
h2, h3, h4, h5, h6, p, span {
    color: var(--white-lt);
}

.btn-main {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
    padding: 8px 40px;
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 25px;
}
.btn-main:focus,
.btn-main:focus-visible {
    outline: none;
}
.main-section {
    padding: 4rem 0;
}
.main-section .section-title {
    margin: 0 auto 2rem auto;
}
.main-section .section-title h2{
    position: relative;
    text-transform: uppercase;
    color: var(--white-lt);
    font-size: var(--font-size-h2);
    letter-spacing:1px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 5px 0;
    grid-gap: 22px;
}
.main-section .section-title h2::before,
.main-section .section-title h2::after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--main-color);
    background-color:#f8f8f8;
}
.vertical-separator {
    border-right: 1px solid var(--white-lt);
    height: 100%;
    width: 1px;
    position:absolute;
    right:50%;
}



/* >>>>>> NAVBAR STYLE <<<<<< */
/* >>>>>> NAVBAR STYLE <<<<<< */
/* >>>>>> NAVBAR STYLE <<<<<< */
.active-nav {
    color: var(--main-color)!important;
    font-weight: bold;
}
nav.bg-nav-lt {
    background-color: var(--white-lt);
    transition: 0.7s;
}
nav.bg-nav-lt .navbar-nav .nav-link{
    color: var(--font-color-dk);
}
.navbar .navbar-nav .nav-link {
    transition: 0.5s;
}
.navbar .navbar-nav .nav-link.nav-network:hover{
    border-bottom: none;
    font-size: inherit;
}
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.7s;
}
.navbar-brand img {
    width: 60px
}
.navbar-nav {
    margin-left: auto;
    align-items: center;
}
.navbar-nav .nav-icon-content {
    display: flex;
}
.nav-link i {
    font-size: 1.3rem;
}



/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
#my-header {
    background-image: url("img/croque.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#my-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}




/* >>>>>> BOOK SECTION STYLE <<<<<< */
/* >>>>>> BOOK SECTION STYLE <<<<<< */
/* >>>>>> BOOK SECTION STYLE <<<<<< */
.container-form::before {
    display: table;
    content: " ";
}
.container-form::after {
    clear: both;
}
.row-form::before {
    display: table;
    content: " ";
}
.row-form::after {
    clear: both;
}
.booking-card {
    position: relative;
    width: 100%;
    background-color: var(--white-lt-transp);
    border-radius: 10px;
    overflow: hidden;
    padding: 40px 30px;
    -webkit-box-shadow: 0px 8px 15px 4px rgba(0,0,0,0.54);
    box-shadow: 0px 8px 15px 4px rgba(0,0,0,0.54);
}
.booking-card h3 {
    text-align: center;
    color: var(--font-color-dk);
    margin-bottom: 1rem;
}
.booking-card form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.booking-card form > div:nth-child(-n+3) {
    margin-bottom: 1.8rem;
}
.booking-card form .input-group {
    flex-direction: column;
    width: 90%;
}
.booking-card form .input-group label {
    padding-left: 10px;
}
.booking-card form .input-group input {
    padding: 10px;
}
.booking-card form .input-group select {
    padding-left: 10px;
}
.booking-card form .input-group input,
.booking-card form .input-group select {
    border: none;
    border-radius: 20px!important;
    height: 35px;
    background-color: var(--white-lt-transp);
}
.booking-card form .input-group input:focus-visible,
.booking-card form .input-group select:focus-visible {
    outline: none;
    border: 2px solid var(--main-color);
}




/* >>>>>> FIND US SECTION STYLE <<<<<< */
/* >>>>>> FIND US SECTION STYLE <<<<<< */
/* >>>>>> FIND US SECTION STYLE <<<<<< */
.find-us-section .row-infos {
    align-items: center;
}
.find-us-section .infos-content .find-us-infos {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.find-us-section .infos-content .find-us-infos a {
    text-decoration: none;
}
.find-us-section .infos-content .find-us-infos i {
    width: 32px;
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 20px;
}








/* >>>>>> TEAM SECTION STYLE <<<<<< */
/* >>>>>> TEAM SECTION STYLE <<<<<< */
/* >>>>>> TEAM SECTION STYLE <<<<<< */
.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
    border: 1px solid var(--main-color) !important;
}
.border:hover {
    border: 1px solid var(--main-color);
}
.card {
    margin: auto;
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card0 {
    background: url("https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg") center center no-repeat;
    background-size: 300px;
}
.card0:hover {
    background: url("https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg") left center no-repeat;
    background-size: 600px;
}
.card0:hover h3,
.card0:hover .fab,
.card0:hover .team-text {
    opacity: 1;
}
.card1 {
    background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg") center center no-repeat;
    background-size: 300px;
}
.card1:hover {
    background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg") left center no-repeat;
    background-size: 600px;
}
.card1:hover h3,
.card1:hover .fab,
.card1:hover .team-text {
    opacity: 1;
}
.card2 {
    background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
    background-size: 300px;
}
.card2:hover {
    background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
    background-size: 600px;
}
.card2:hover h3,
.card2:hover .fab,
.card2:hover .team-text {
    opacity: 1;
}
.team-text {
    margin: 20px;
}
.team-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}
.icons .fab,
.team-text {
    opacity: 0;
    transition: opacity 1s;
}
.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}






















/* >>>>>> CAROUSEL STYLE <<<<<< */
/* >>>>>> CAROUSEL STYLE <<<<<< */
/* >>>>>> CAROUSEL STYLE <<<<<< */
/* Indicators */
.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: var(--main-color);
}
/* Inner */
.carousel-inner .carousel-item {
    max-height: 750px;
    overflow: hidden;
}
.carousel-inner .carousel-item img {
    width: 100%;
}
/* Control */



/* >>>>>> MENUS SECTION STYLE <<<<<< */
/* >>>>>> MENUS SECTION STYLE <<<<<< */
/* >>>>>> MENUS SECTION STYLE <<<<<< */
.menu-content {
    position: relative;
}
.menu-title {
    font-style: italic;
}
.menu-separator {
    margin: 2.5rem 0;
}







/* >>>>>> MEDIA QUERY STYLE <<<<<< */
/* >>>>>> MEDIA QUERY STYLE <<<<<< */
/* >>>>>> MEDIA QUERY STYLE <<<<<< */
@media (max-width: 767px) {
    .vertical-separator {
        display: none;
    }
    .menu-content > div:first-child {
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid var(--white-lt);
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-icon-content .nav-item:not(:first-child) {
        margin-left: 1.5rem;
    }
}