@import "vars.css";

/* >>>>>> GENERAL STYLE <<<<<< */
/* >>>>>> GENERAL STYLE <<<<<< */
/* >>>>>> GENERAL STYLE <<<<<< */

::selection {
    color: var(--main-color);
    background-color: var(--white-lt);
}
::-moz-selection {
    color: var(--main-color);
    background-color: var(--white-lt)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    background-color: var(--bg-color);
}
h2, h3, h4, h5, h6, p, span {
    color: var(--white-lt);
}

.btn-main {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.main-section {
    padding: 4rem 0;
}
.main-section .section-title {
    margin: 0 auto 2rem auto;
}
.main-section .section-title h2{
    position: relative;
    text-transform: uppercase;
    color: var(--white-lt);
    font-size: var(--font-size-h2);
    letter-spacing:1px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 5px 0;
    grid-gap: 22px;
}
.main-section .section-title h2::before,
.main-section .section-title h2::after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--main-color);
    background-color:#f8f8f8;
}
.vertical-separator {
    border-right: 1px solid var(--white-lt);
    height: 100%;
    width: 1px;
    position:absolute;
    right:50%;
}



/* >>>>>> NAVBAR STYLE <<<<<< */
/* >>>>>> NAVBAR STYLE <<<<<< */
/* >>>>>> NAVBAR STYLE <<<<<< */
nav.bg-nav-lt {
    background-color: var(--white-lt);
    transition: 0.7s;
}
nav.bg-nav-lt .navbar-nav .nav-link{
    color: var(--font-color-dk);
}
.navbar .navbar-nav .nav-link {
    transition: 0.5s;
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    font-size: calc(var(--font-size-nav) + 5px);
    border-bottom: 2px solid var(--main-color);
    transition: 0.5s;
}
.navbar .navbar-nav .nav-link.nav-network:hover{
    border-bottom: none;
    font-size: inherit;
}
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.7s;
}
.navbar-brand img {
    width: 60px
}
.navbar-nav {
    margin-left: auto;
    align-items: center;
}
.nav-link i {
    font-size: 1.3rem;
}



/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
/* >>>>>> HEADER PRESENTATION STYLE <<<<<< */
#my-header {
    background-image: url("/img/croque.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX();
}




/* >>>>>> BOOK SECTION STYLE <<<<<< */
/* >>>>>> BOOK SECTION STYLE <<<<<< */
/* >>>>>> BOOK SECTION STYLE <<<<<< */
.container-form::before {
    display: table;
    content: " ";
}
.container-form::after {
    clear: both;
}
.row-form::before {
    display: table;
    content: " ";
}
.row-form::after {
    clear: both;
}
.booking-card {
    width: 100%;
    background-color: var(--white-lt);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 8px 15px 4px rgba(0,0,0,0.54);
    box-shadow: 0px 8px 15px 4px rgba(0,0,0,0.54);
}
.booking-card form {
    display: flex;
}

/* >>>>>> CAROUSEL STYLE <<<<<< */
/* >>>>>> CAROUSEL STYLE <<<<<< */
/* >>>>>> CAROUSEL STYLE <<<<<< */
/* Indicators */
.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: var(--main-color);
}
/* Inner */
.carousel-inner .carousel-item {
    max-height: 750px;
    overflow: hidden;
}
.carousel-inner .carousel-item img {
    width: 100%;
}
/* Control */



/* >>>>>> MENUS SECTION STYLE <<<<<< */
/* >>>>>> MENUS SECTION STYLE <<<<<< */
/* >>>>>> MENUS SECTION STYLE <<<<<< */
.menu-content {
    position: relative;
}
.menu-title {
    font-style: italic;
}
.menu-separator {
    margin: 2.5rem 0;
}







/* >>>>>> MEDIA QUERY STYLE <<<<<< */
/* >>>>>> MEDIA QUERY STYLE <<<<<< */
/* >>>>>> MEDIA QUERY STYLE <<<<<< */
@media (max-width: 767px) {
    .vertical-separator {
        display: none;
    }
    .menu-content > div:first-child {
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid var(--white-lt);
    }
}