:root {
    --main-color: #b8b230;
    --white-lt: #f2f2f2;
    --bg-color: #2e2e2e;

    /* >>>>>>  FONT <<<<<<  */
    /* >>>>>>  FONT <<<<<<  */
    /* >>>>>>  FONT <<<<<<  */
    /* -- colors -- */
    --font-color-dk: #212121;
    --font-color-lt: #fafafa;
    /* -- sizes -- */
    --font-size-h2: 2.1rem;
    --font-size-nav: 1rem;
}